{
  "openapi": "3.0.3",
  "info": {
    "title": "DESCO API",
    "description": "REST API documentation for Dhaka Electric Supply Company (DESCO) services including customer management, billing, meter readings, and connection management.",
    "version": "1.0.0",
    "contact": {
      "name": "DESCO API Support",
      "email": "api-support@desco.org.bd"
    }
  },
  "servers": [
    {
      "url": "https://prepaid.desco.org.bd",
      "description": "DESCO Production Server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and authorization"
    },
    {
      "name": "Customers",
      "description": "Customer account management"
    },
    {
      "name": "Bills",
      "description": "Bill generation and payment"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login with email and password",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              },
              "example": {
                "email": "rahim@example.com",
                "password": "SecurePass@123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/unified/customer/getCustomerInfo": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer information",
        "description": "Retrieve customer details by meter number. Account number is optional and can be used alongside meter number to narrow the lookup.",
        "security": [],
        "parameters": [
          {
            "name": "meterNo",
            "in": "query",
            "required": true,
            "description": "Meter number of the customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountNo",
            "in": "query",
            "required": false,
            "description": "Account number of the customer (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "desc": {
                      "type": "string",
                      "example": "OK"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "accountNo": {
                          "type": "string"
                        },
                        "contactNo": {
                          "type": "string"
                        },
                        "customerName": {
                          "type": "string",
                          "example": "Abdul Halim Patawary"
                        },
                        "feederName": {
                          "type": "string",
                          "example": "LALKUTI"
                        },
                        "installationAddress": {
                          "type": "string",
                          "example": "House/Flat #119/A, Road #1st Colony, Mazar Road, Plot #9B, Block #Block -C, Section #Mirpur 1 , Post Office #Mirpur , Thana #Darus Salam, Area #Lalkuthi, Flat No.3B"
                        },
                        "installationDate": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-01-22"
                        },
                        "meterNo": {
                          "type": "string"
                        },
                        "phaseType": {
                          "type": "string",
                          "example": "1P"
                        },
                        "registerDate": {
                          "type": "string",
                          "format": "date",
                          "nullable": true,
                          "example": null
                        },
                        "sanctionLoad": {
                          "type": "integer",
                          "example": 4
                        },
                        "tariffSolution": {
                          "type": "string",
                          "example": "Tariff : LT-A"
                        },
                        "meterModel": {
                          "type": "string",
                          "example": "HXE130"
                        },
                        "transformer": {
                          "type": "string",
                          "example": "LK-50"
                        },
                        "SDName": {
                          "type": "string",
                          "example": "Shahali"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": 200,
                  "desc": "OK",
                  "data": {
                    "accountNo": "string",
                    "contactNo": "string",
                    "customerName": "string",
                    "feederName": "string",
                    "installationAddress": "string",
                    "installationDate": "string",
                    "meterNo": "string",
                    "phaseType": "string",
                    "registerDate": null,
                    "sanctionLoad": 4,
                    "tariffSolution": "Tariff : LT-A",
                    "meterModel": "HXE130",
                    "transformer": "LK-50",
                    "SDName": "Shahali"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/bills/{id}": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Get a bill by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Bill details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bill"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "IdParam": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required or token invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "example": 3600
          }
        }
      },
      "Bill": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "bill_number": {
            "type": "string",
            "example": "BILL-2025-04-001234"
          },
          "customer_id": {
            "type": "string"
          },
          "billing_month": {
            "type": "string",
            "example": "2025-04"
          },
          "units_consumed": {
            "type": "number",
            "example": 320.5
          },
          "total_amount": {
            "type": "number",
            "example": 1513.05
          },
          "due_date": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "paid",
              "unpaid",
              "overdue"
            ]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}